/*BEGIN GENERAL*/

html, body, div, section, main, header, footer {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style-type: none;
}

body {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

* * {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

header, main, footer {
  width: 100%;
  margin: 0px;
}

main {
  position: relative;
}

.absolute-background-div {
  position: absolute;
  top: 0;
  left: 75px;
  width: 1200px;
  height: 100px;
  z-index: -1;
  background-color: white;
}

/*END GENERAL*/

/*BEGIN HEADER*/

header {
  background-color: white;
}

header ul {
  padding: 0px;
  margin: 0;
  height: 60px;
  background-color: white;
}

header ul li{
  margin: 15px 65px;
  padding: 0px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.li-2 {
  margin-right: 200px;
}

header .logo {
  width: 20%;
  position: absolute;
  top: 0px;
  left: 40.2%;
  text-align: center;
  z-index: 100;
}

/*END HEADER*/

/*BEGIN MAIN*/

.intro-bg {
  display: inline-block;
  width: 100%;
  height: auto;
}

.main-header {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: white;
  position: absolute;
  top: -213px;
  left: 0px;
  height: 236px;
  padding-top: 35px;
}

.info-container {
  display: inline-block;
  width: 100%;
}

.info-container *{
  display: block;
  float: left;
}

.info-container .info-text {
  background-color: #81b3d2;
  color: white;
  display: inline-block;
  width: 35%;
  height: 330px;
  text-align: center;
  padding-top: 60px;
}

.info-container .info-text p {
  font-size: 17px;
}

.info-container .info-text *{
  display: inline-block;
  width: 100%;
}

.info-container .info-img, .info-container .info-img2 {
  display: block;
  width: 65%;
  height: 350px;

}

.info-container .info-img {
  height: 330px;
  background-image: url('../img/info-image.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.info-container .info-img2 {
  background-image: url('../img/info-image2.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 330px;
}

div.services div.service {
  width: 33%;
  height: 360px;
  float: left;
  text-align: center;
  padding-top: 70px;
}

.info-container2 {
  width: 101%;
  margin-top: -5px;
}

div.info-container2 div.info-text {
  width: 33.03%;
  float: left;
  height: 300px;
  text-align: center;
  padding-top: 45px;
  background-color: #eeeeee;
}

div.info-container2 div.info-text p {
  font-size: 17px;
}

section.modal-header {
  box-sizing: border-box;
  width: 100%;
  height: 345px;
  text-align: center;
  clear: both;

}

section.modal-header h3 {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  margin-top: 65px;

}

section.modal-header a {
  display: inline-block;
  width: 600px;
  height: 90px;
  background-color: #766357;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  line-height: 90px;
  vertical-align: middle;
  position: relative;
  top: 49px;
}

#map {
  height: 450px;
}


    /*BEGIN MODAL-FORM*/
section.modal-form {
  /*display: none;*/
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  top: 120px;
  left: 375px;
  width: 600px;
  height: 450px;
  margin: auto;
  padding-left: 40px;
  padding-top: 40px;
}

section.modal-form {
  /*display: none;*/
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  top: 1668px;
  left: 25%;
  width: 600px;
  height: 450px;
  margin: auto;
  padding-left: 40px;
  padding-top: 40px;
  z-index: -1;
  opacity: 0;
  transition: all 0.6s;
}

section.modal-form.final {
  opacity: 1;
  z-index: 2;
}

.modal-backskin {
  z-index: -1;
  position: fixed;
  background-color: black;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s;
}

.modal-backskin.final {
  opacity: 0;
  z-index: 1;
}

section.modal-form label {
  display: inline-block;
  width: 100%;
  margin: 20px;
  font-weight: bold;
}

section.modal-form label input {
  width: 350px;
  height: 40px;
  margin-left: 20px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 10px;
}

section.modal-form label.width-50 {
  width: 230px;
}

section.modal-form label.width-50 input {
  width: 100px;
}

section.modal-form label:nth-child(3) input, section.modal-form label:nth-child(4) input {
  margin-left: 39px;
}

section.modal-form label:nth-child(4) {
  position: relative;
  left: 15px;
}

section.modal-form button {
  width: 470px;
  height: 70px;
  border: none;
  background-color: #81b3d2;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 40px;
}
    /*END FORM*/

/*END MAIN*/

/*BEGIN FOOTER*/

footer {
  width: 100%;
  height: 120px;
}

footer div {
  width: 33%;
  float: left;
  text-align: center;
}

.footer-contact a {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-top: 47px;
}

.footer-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1.5px;
  background-color: #81b3d2;
  margin-top: 38px;
}

.footer-social a:first-child {
  background-image: url('../img/tw-logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 38%;
}

.footer-social a:nth-child(2) {
  background-image: url('../img/fb-logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-social a:last-child {
  background-image: url('../img/yt-logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-author {
  font-weight: bold;
}

.footer-autor span {
  line-height: 120px;
  vertical-align: middle;
}

.footer-autor a {
  position: relative;
  top: 15px;
  margin-left: 5px;
}

/*END FOOTER*/


/*BEGIN PAGE-INNER*/

div.search-form form {
  width: 100%;
  color: white;
  height: 250px;
  float: left;
  background-image: url('../img/inner-bg-image.png');
  background-size: 118%;
}

div.search-form form div.infrastructure label, div.search-form form div.property-type label {
  display: inline-block;
  margin-top: 20px;
}

div.search-form form div.infrastructure, div.search-form form div.property-type {
  float: left;
}

div.search-form form div.infrastructure {
  margin-left: 80px;
}

div.search-form form div.infrastructure, div.search-form form div.property-type {
  width: 25%;
}

div.search-form form input[type="checkbox"] {
  display: none;
}

div.search-form form label span.checkbox-indicator {
  display: inline-block;
  width: 24px;
  height: 21px;
  background-image: url('../img/checkbox.png');
  background-repeat: no-repeat;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

div.search-form form input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url('../img/checkbox-checked.png');
}

div.search-form form h2 {
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 0px;
}

.property-type, .infrastructure, .filter-range {
  display: inline-block;
}

.filter-range {
  width: 330px;
  margin-left: 100px;
  margin-top: 40px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 45%;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

section.sort {
  width: 100%;
  height: 100px;
  border-bottom: 1.5px solid #e5e5e5;
  clear: both;
}

section.sort > * {
  float: left;
}

section.sort h3 {
  font-size: 26px;
  margin-top: 30px;
  margin-left: 80px;
}

section.sort span {
  font-weight: bold;
  line-height: 100px;
  vertical-align: middle;
  margin-left: 70px;
  margin-right: -20px;
}

section.sort ul li {
  display: inline-block;
  line-height: 70px;
  vertical-align: middle;
  margin-left: 50px;
}

section.sort ul li.active a {
  color: #81b3d2;
}

section.sort ul:first-of-type li:not(:first-child) a {
  border-bottom: 1px dotted #81b3d2;
}

section.sort ul:last-of-type {
  float: right;
  margin-right: 80px;
}

section.sort ul:last-of-type li:first-child a {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('../img/arrow-up.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

section.sort ul:last-of-type li:last-child a {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -35px;
  background-image: url('../img/arrow-down.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

article.hotel {
  width: 100%;
  height: 160px;
  border-bottom: 1.5px solid #e5e5e5;
  clear: both;
}

article.hotel div {
  float: left;
}

article.hotel div.img-container img {
  margin: 30px;
  margin-left: 80px;
}

article.hotel div.hotel-info h1 {
  margin-top: 22px;
  margin-bottom: 8px;
}

article.hotel div.rating {
  float: right;
  margin-top: 25px;
  margin-right: 80px;
}

article.hotel div.hotel-info div.buttons a {
  display: inline-block;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  margin-top: 13px;
  margin-right: 5px;
}

article.hotel:first-of-type div.hotel-info div.info-price span{
  margin-right: 25px;
}

article.hotel:nth-of-type(2) div.hotel-info div.info-price span {
  margin-right: 55px;
}

article.hotel:last-of-type div.hotel-info div.info-price span{
  margin-right: 5px;
}

article.hotel div.hotel-info div.buttons a.more {
  background-color: #81b3d2;
}

article.hotel div.hotel-info div.buttons a.book {
  background-color: #766357;
}

article.hotel:first-of-type div.rating > span {
  margin-right: -95px;
}

article.hotel:last-of-type div.rating > span {
  margin-right: -75px;
}

div.rating > span {
  display: inline-block;
  padding: 8px 15px;
  background-color: #f2f2f2;
  color: #939393;
  margin-top: 60px;
  margin-right: -50px;
}

div.rating div.rating-stars {
  margin-right: 20px;
  float: right;
}

div.rating div.rating-stars span.rating-star {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  background-image: url('../img/star.png');
  background-repeat: no-repeat;
}

/*END PAGE-INNER*/
